# Environments
venv/
.venv/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store

# Node/Frontend
node_modules/

# Database
*.db
*.sqlite3
